body {
  background-color: rgb(236, 233, 230);
}

.hello {
  color: red;
}

#to-do {
  display: flex;
  flex-direction: column;
  margin: auto;
  align-items: center;
  width: 100%;
  margin-top: 2rem;
}

.title {
  width: 90%;
  display: flex;
  justify-content: center;
  border-bottom: 1px solid rgb(197, 196, 196);
}

.todo-title {
  background-color: #fff;
  width: 100%;
  margin: 0;
  padding: 1rem 0;
  text-indent: 3%;
}

.todo-list {
  list-style-type: none;
  background-color: #fff;
  width: 90%;
  margin: auto;
  padding: 0;
  font-family: 'Arial', Courier, monospace;
}

.todo-list li {
  border-bottom: 1px solid grey;
  padding: 0.5rem;
}

.add-task {
  width: 90%;
  border-bottom: 1px solid rgb(197, 196, 196);
}

#add-to-list {
  border: none;
  font-style: italic;
  width: 100%;
  padding: 1rem 0;
  text-indent: 3%;
}

.clear-all {
  background-color: rgb(236, 232, 232);
  border: 1px solid grey;
  color: grey;
  padding: 1rem;
  width: 90%;
}

.menu {
  height: 20px;
  position: absolute;
  right: 100px;
  padding: 0.5rem 0.9rem;
}

.refresh {
  height: 20px;
  position: absolute;
  right: 100px;
  rotate: 90deg;
  top: 50px;
}

.enter {
  height: 20px;
  position: absolute;
  right: 80px;
  rotate: 90deg;
  top: 90px;
  padding: 1rem;
}

.task-desc {
  padding: 0.5rem 0;
  width: 65%;
  border: 0;
}
